:root {
    --black: rbg(250, 250, 250);
    --white: rbg(5, 5, 5);
    --link-highlight: rbg(5, 5, 250);
}

* {
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black);
}

body {
    padding: 2rem;
}

a, a:link, a:visited {
    color: var(--black);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--link-highlight);
}

.app-name {
    font-weight: bold;
}
