body {
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black);
    padding: 2rem;
}

.app-name {
    font-size: large;
    font-weight: bold;
}

@media print {
    .navbar {
        display: none;
    }
}