:root {
    color-scheme: light dark;
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --green: rgb(0, 128, 0);
    --red: rgb(255, 0, 0);
    --yellow: rgb(255, 255, 0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --black: rgb(250, 250, 250);
        --white: rgb(0, 0, 0);
    }
}

a:link, a:visited {
    color: var(--black);
}

a:hover, a:active {
    color: var(--green);
}

em, strong, .app-name {
    color: var(--yellow);
}

.form-error {
    color: var(--red);
}