<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Tasky</title>
    {% else %}
    <title>Welcome to Tasky</title>
    {% endif %}
</head>
<body>
<div class="navbar">
    Tasky:
    <a href="{{ url_for('main_menu') }}">Home</a>
    <a href="{{ url_for('list_tasks') }}">List</a>
    <a href="{{ url_for('new_task') }}">New</a>
    <a href="{{ url_for('login') }}">Login</a>
</div>
<hr>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block content %}{% endblock %}
</body>
</html>