{% extends "base.html.j2" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.task_id.label }}
        {{ form.task_id }}
        {% for error in form.task_id.errors %}
        <span class="form-error">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit }}</p>
</form>{% endblock %}