{% extends "base.html.j2" %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul class="tasklist">
    {% for task in tasks %}
        <li class="task">{{ task.task }}
            {% if task.complete %}
            - (COMPLETED)
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}