{% extends "base.html.j2" %}

{% block css %}<link rel="stylesheet" type="text/css" href="css/main_menu.css">{% endblock %}

{% block content %}
<h1>Main Menu</h1>
<div id="{{ url_for('add_task').replace("/", "", 1) }}" class="menu-item">
    Add a task
</div>
<div id="{{ url_for('remove_task').replace("/", "", 1) }}" class="menu-item">
    Remove a task
</div>
<div id="{{ url_for('complete_task').replace("/", "", 1) }}" class="menu-item">
    Mark a task complete
</div>
<div id="{{ url_for('list_tasks').replace("/", "", 1) }}" class="menu-item">
    List the tasks
</div>

<hr>
<strong>Key codes:</strong>
<ul><code>
    <li><strong>ESC</strong> - go to Main Menu</li>
    <li><strong>c</strong> - add a new task</li>
    <li><strong>r</strong> - display your list of tasks</li>
    <li><strong>u</strong> - mark a task as complete</li>
    <li><strong>d</strong> - remove a task</li>
</code></ul>
{% endblock %}

{% block javascript %}
<script src="javascript/main_menu.js"></script>
{% endblock %}